<div class="form-group">
  <div class="input-group">
    {{input value=query class="form-control" placeholder="Search"}}
     <span class="input-group-btn">
       <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
     </span>
   </div><!-- /input-group -->
   {{input value=owner class="form-control" placeholder="Owner"}}
   {{item-type-select updateItemTypeQueryParam=updateItemTypeQueryParam isHidden=itemTypeHidden}}
   {{input value=tags class=itemTagsDisplay placeholder="Tags" }}
</div>