/* Vars that are needed in some of the other imports and
would normally come from calcite, but we are not including it
in this site */
$Calcite_Gray_050:   #ffffff; 
$Calcite_Gray_700:   #323232; 

@import 'calcite-bootstrap';
$icon-font-path: './fonts/';

@import "bootstrap";

$primary-font-sanserif:  'Avenir Next W01', 'Avenir Next', 'Avenir';
$primary-font-serif: 'Kepler W01';
$primary-headings-weight: 300;

@import 'calcite/_colors-default';
@import 'calcite/_variables';

@import 'header';
@import 'signin';
@import 'item-display';
@import 'item-details';
@import 'placeholder-image';

[data-ember-action] {
  cursor: pointer;
}

[role="tabpanel"][aria-hidden="true"] {
  display: none;
}


hr {
  margin-top: 12px;
  margin-bottom: 20px;
}

.no-marg-left {
  margin-left: 0;
}

.marg-top-20 {
  margin-top: 20px;
}

.marg-top-50 {
  margin-top: 50px;
}

/*nav bar*/
.top-header {
  /*margin-left: 15px;
  margin-right: auto;*/
}
.navbar {
  min-height: 50px;
}
.navbar-brand {
  padding: 5px 15px;
}

@media (min-width:768px) {
  .container {
    /*width: 760px;*/
    width: 95%;
    /*padding-left: 0;*/
    padding-right: 0;
    margin-left: 10px;
    /*margin-right: 10px;*/
  }
}

.brand-logo {
  height: 70px;
  width: 70px;
}

.sit-on-top {
  z-index: 1;
}