<select class="selectpicker" multiple title="Item Type" data-header="Select an Item Type" data-selected-text-format="count">
  <option>Web Map</option>
  <option>Web Mapping Application</option>
  <option>Map Service</option>
  <option>Feature Service</option>
  <option>Image Service</option>
  <option>Vector Tile Layer</option>
  <option>Web Scene</option>
  <option>CSV</option>
</select>
