<div class="container">
  <h2>Select a Group to Review its Items</h2>
  <hr>

  <div class="row">
    <div class="col-xs-8">
      <ul class="list-group">
      {{#each model.results as |item|}}
        <li class="list-group-item">{{#link-to 'review.index' item.id }} {{item.title}} {{/link-to}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>

{{outlet}}
